.center {
  text-align: center;
}
body {
  background-image: url(https://finchington.github.io/modern.jpg);
  background-size: 100%;
  min-height: 100%;
  background-attachment: fixed;
  overflow: auto;
  background-repeat: no-repeat;
  padding: 20px;
  font-family: sans-serif
}
.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;
}
.page {
  background-color: #ffbf80;
  width: 80%;
  min-height: -100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0px;
  padding: 20px;
}
.menu-content {
    font-family: sans-serif; 
    padding: 0 0 0 50px;
    text-align: right;
}
.Info {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.menu {
  text-align: right;
}
header h1 {
  text-align: center;
}
