  h1 {
    font-family: sans-serif;
    text-align: center;
  }
  h2 {
    font-family: sans-serif;
  }
  p {
    font-family: sans-serif;
  }
.center {
  text-align: center;
}
body {
  background-color: #ffbf80;
}
  .nav {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 14px 16px;
  width: auto;
  float: left;
  }
