.center {
  text-align: center;
}
body {
  background-image: url(https://finchington.github.io/modern.jpg);
  background-size: cover;
  padding: 20px;
  font-family: sans-serif
}
.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* « The magic. */
}

.nav li {
    display: inline; /* « More magic. */
}

.nav a {
    display: inline-block; /* « Last bit of magic. */
    padding: 10px;
}
.page {
  background-color: #ffbf80;
  width: 80%;
  min-height: -100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
