body {
  font-family: sans-serif;
  background-image: url(https://finchington.github.io/fantasy.jpg);
}

.page {
  background-color: #d9d9d9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  padding: 20px;
}
